<h2 class="sgin_up text-center">ファンクラブ申請</h2>

<%= form_for(@adminrequest, url: confirm_path) do |f| %>
  <div class="form-group text-center field mt-5">
    <%= f.label :teamname, 'お名前またはチームネーム' %>
    <%= f.text_field :teamname, class: "form-control", id: "exampleInputEmail1", style: "width: 300px;" %>
  </div>

  <div class="form-group text-center field">
    <%= f.label :twitter_url, 'SNS_URL' %>
    <%= f.text_field :twitter_url, class: "form-control", id: "exampleInputEmail1", style: "width: 300px;" %>
  </div>

  <div class="form-group text-center field mt-5">
    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
  </div>
<% end %>