<div class="user-show-container<%= @user.theme %>">
  <%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
  <ul class='table-ul<%= @user.theme %> pl-0'>
    <li>
      <%= link_to "プロフィール", @user, class: "" %>
    </li>
    <li>
      <%= link_to "ブログ", posts_user_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "スケジュール", events_user_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "動画", videos_user_path(@user), class: "" %>
    </li> 
    <li class="current">
      <%= link_to "コンタクト", contacts_user_path(@user), class: "" %>
    </li> 
  </ul>

  <%= form_for(@contact, url: contacts_confirm_path) do |f| %>
    <div class="form-group text-center mt-5">
      <%= f.label :name, 'お名前', class: "contactform-label contact-form-#{@user.theme} " %>
      <%= f.text_field :name, class: "form-control", id: "exampleInputEmail1", style: "width: 300px;" %>
    </div>

    <div class="form-group text-center mt-5">
      <%= f.label :message, 'メッセージ', class: "contactform-label contact-form-#{@user.theme}" %>
      <%= f.text_area :message, class: "form-control contact-form", id: "exampleInputEmail1", style: "width: 600px;" %>
    </div>

    <%= f.hidden_field :to_email %>

    <div class="form-group text-center field mt-5 ">
      <%= f.submit '入力内容確認', class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>