<div class="user-show-container<%= @user.theme %>">
  <%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
  <ul class='table-ul<%= @user.theme %> pl-0'>
    <li>
      <%= link_to "プロフィール", @user, class: "" %>
    </li>
    <li class="current">
      <%= link_to "ブログ", posts_user_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "スケジュール", events_user_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "動画", videos_user_path(@user), class: "" %>
    </li> 
    <li>
      <%= link_to "コンタクト", "/", class: "" %>
    </li> 
  </ul>

  <%= form_for(@contact, url: confirm_path) do |f| %>
    <div class="form-group">
      <%= f.label :name, 'お名前*' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :message, 'メッセージ*' %>
      <%= f.text_area :message, size: '10x10', class: 'form-control' %>
    </div>

    <div>
      <%= f.submit '入力内容確認' %>
    </div>
  <% end %>
</div>