

<div> 
  <%= search_form_for @user_search, url: users_path do |f| %>
    <%= f.search_field :name_cont, class: 'form-control me-sm-2', id: "submit-form2"%>

    <% User.genders.keys.each_with_index do |key, i| %>
      <%= f.check_box :gender_eq_any, {multiple: true}, i, nil %>
      <%= key %>
    <% end %>

    <% User.areas.keys.each_with_index do |key, i| %>
      <% if i != 0 %>
      <%= f.check_box :area_eq_any, {multiple: true}, i, nil %>
      <%= key %>
      <% end %>
    <% end %>
   
    <%= f.button :type => "submit", id: 'submit-btn2' do %>
      <i class='fas fa-search'></i>
    <% end %>
  <% end %>
</div>

<div class="container user_result" style="">
  <% @user_results.reverse_each do |user| %>
      <section class="card3 <%= ' user-woman' if user.gender == "女" %>">
        <%= link_to user_path(user), class: " text-dark" do %>
        <div class="card-img3"><%= image_tag(user.image.variant(gravity: :center, resize:"640x400^", crop:"640x400+0+0").processed, class: "img-fluid") %></div>
        <div class="card-content3">
          <h2 class="card-title3"><%= user.name.truncate(13)%><%= "(#{user.area})" %></h2>
     
          <ul class="card-list3">
            <li class="card-text3"><%= user.profile.truncate(50) %></li>
            <li class="card-count3 text-right"><%= "♡#{user.followers.count}" %></li>
        </div>
        <% end %>
      </section>
  <% end %>
</div>