
<%= search_form_for @user_search, url: users_path do |f| %>
  <div class="user-search-form mt-4">
    <div><%= f.search_field :name_cont, class: 'form-control1 me-sm-2', id: "submit-form2"%></div>
    <button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">さらに絞る</button>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="user-search-container p-3">
      <div class="search-gender text-center mb-4">
        <div class="text-center mb-2 user-search-fonts">性別</div>
        <% User.genders.keys.each_with_index do |key, i| %>
          <%= f.check_box :gender_eq_any, {multiple: true}, i, nil %>
          <%= key %>
        <% end %>
      </div>

      <div class="search-area">
        <div class="text-center mb-2 user-search-fonts">活動地域</div>
        <% User.areas.keys.each_with_index do |key, i| %>
          <% if i != 0 %>
            <%= f.check_box :area_eq_any, {multiple: true}, i, nil %>
            <%= key %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group text-center field mt-5">
    <%= f.submit "検索", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
 


<div class="container user_result" style="">
  <% @user_results.reverse_each do |user| %>
      <section class="card3">
        <%= link_to user_path(user), class: " text-dark" do %>
        <div class="card-img3"><%= image_tag(user.image.variant(gravity: :center, resize:"640x400^", crop:"640x400+0+0").processed, class: "img-fluid") %></div>
        <div class="card-content3">
          <h2 class="card-title3"><%= user.name.truncate(13)%><%= "(#{user.area})" %></h2>
          <ul class="card-list3">
            <li class="card-text3"><%= user.profile.truncate(50) %></li>
            <li class="card-count3 text-right"><%= "♡#{user.followers.count}" %></li>
          </ul>
        </div>
        <% end %>
      </section>
  <% end %>
</div>