<% if @user.admin? %>
  <div class="user-show-container<%= @user.theme %>">
    <%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
    <ul class='table-ul<%= @user.theme %> pl-0'>
      <li class="current">
        <%= link_to "プロフィール", @user, class: "" %>
      </li>
      <li>
        <%= link_to "ブログ", posts_user_path(@user), class: "" %>
      </li>
      <li>
        <%= link_to "スケジュール", events_user_path(@user), class: "" %>
      </li>
      <li>
        <%= link_to "動画", videos_user_path(@user), class: "" %>
      </li>
      <li>
        <%= link_to "コンタクト", contacts_user_path(@user), class: "" %>
      </li>
    </ul>
    <% if @user.hide_name == false %>
      <h1 class="user-name-<%= @user.theme %> text-center"><%= @user.name %></h1>
    <% end %>
    <div class="follow_button text-right" id="follows_buttons_<% @user.id %>">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
    <p class="profile text-center"><%= @user.profile %></p>

    <!- メンバー一覧 ->
    <h2 class='user-show-heading-<%= @user.theme %>'>メンバー</h2>

    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="text-center"><%= button_to "メンバーを追加する", new_member_path(@user) ,class: "btn btn-large btn-primary" %></div>
    <% end %>
    <div class="member">
      <% @user.members.each do |member| %>
        <section class="member-card">
        <%= link_to member_path(member), class: "" do %>
          <div class="card-title1 text-center"><%= image_tag(member.image.variant(combine_options:{gravity: :center, resize:"300x600^", crop:"300x600+0+0"}).processed, class: "img-fluid member-image") %></div>
          <div class="card-content1">
            <h1 class="card-title1"><%= member.name %></h1>
          </div>
        <% end %>
        </section>
      <% end %>
    </div>

    <h2 class='user-show-heading-<%= @user.theme %> mt-5'>最近の投稿</h2>
    <div class="user-nearpost mt-4">
      <div class="gallery text-center user-show-padding-<%= @user.theme %>" style="">
        <% @posts.each do |post| %>
          <%= link_to image_tag(post.image.variant(combine_options:{gravity: :center, resize:"375x375^", crop:"375x375+0+0"}).processed, class: "post-image"), post_path(post) %>
        <% end %>
      </div>
    </div>
    <div class="all_look text-right"><%= link_to "もっと見る", posts_user_path(@user) %></div>

    <h2 class='user-show-heading-<%= @user.theme %> mt-5'>近日のイベント</h2>
    <div class="user-nearpost mt-4">

      <div class="gallery text-center usre-show-padding-<%= @user.theme %>" style="">
        <% @events.each do |event| %>
          <section class="eventcard">
            <%= link_to event_path(event), class: " text-dark" do %>
              <div class="eventcard-img"><%= image_tag(event.image.variant(gravity: :center, resize:"540x337^", crop:"540x337+0+0").processed, class: "img-fluid") %>
                <div class="card-content3">
                  <div class="eventcard-title"><%= event.title %></div>
                </div>
              </div>
            <% end %>
          </section>

        <% end %>

      </div>
    </div>

 


    <div class="all_look text-right"><%= link_to "もっと見る", posts_user_path(@user) %></div>
  </div>

<% else %>

  <% if user_signed_in? && current_user.id == @user.id %>
    <div class="text-right"><%= link_to "編集する", edit_user_path %></div>
  <% end %>
    <div class="text-center">
        <div class="mt-5"><%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"400x400^", crop:"400x400+0+0"}).processed,class: "user-image" %></div>
        <ul class="name-item">  
          <li class="name-font1"><%= @user.name %></li>
          <li class="name-font1 edit-icon">
            <% if user_signed_in? && current_user.id == @user.id %>
              <%= link_to edit_user_path do %>
                <i class="fas fa-edit"></i>  
              <% end %>             
            <% else %> 
              <%
=begin%>
 <% if @isRoom == true %>
                <div class="sms-icon">
                  <a href="/rooms/<%= @roomId %>"><i class="fas fa-sms"></i></a>
                </div>
              <% else %>              
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                <% end %>
              <% end %> 
<%
=end%>
            <% end %>
          </li>
        </ul>
        <div class="name-font2"><%= @user.profile unless @user.profile.nil? %><div>
        <div class="name-font2 mt-3"><%= "#{@user.age}歳" unless @user.age.nil? %><div> 
        <div class="name-font2"><%= "#{@user.gender}" unless @user.gender.nil? %><div>
        <div class="name-font2"><%= "#{@user.area}" unless @user.area.nil? %><div>
    </div>
    <% if current_user.id == @user.id %>
      <div class="container bg-white mt-5">
        <ul class="nav nav-tabs mb-3 nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ファンクラブ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">お気に入り投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">参加イベント</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="near-fanclub-container">
              <div class="member1">
                <% current_user.followings.reverse_each do |user| %>
                  <section class="eventcard">
                    <%= link_to user_path(user), class: " text-dark" do %>
                      <div class="eventcard-img"><%= image_tag(user.image.variant(gravity: :center, resize:"540x337^", crop:"540x337+0+0").processed, class: "img-fluid") %>
                        <div class="card-content3">
                          <div class="card-name3"><%= user.name.truncate(13) %></div>
                          <ul class="card-list3">
                            <li class="eventcard-title"><%= user.area %></li>
                            <li class="card-count3 text-right"><%= "♡#{user.followers.count}" %></li>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </section>
                <% end %>
              </div>
            </div>
          </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container gallery text-center" style="">
              <% current_user.like_posts.reverse_each do |post| %>
                <%= link_to image_tag(post.image.variant(combine_options:{gravity: :center, resize:"585x585^", crop:"585x585+0+0"}).processed, class: "post-image"), post_path(post) %>
              <% end %>
              <div class="text-center">
            </div>
          </div> 
        </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <% current_user.ticket_events.reverse_each do |event| %>
              <div class="card4">
                <%= link_to event_path(event), class: "" do %>
                <div class=""><%= image_tag(event.image.variant(gravity: :center, resize: '550x400' ,crop: "500x300+0+0").processed, class: " card-img5") %></div>
                <div>
                  <div class="card-title5 mt-3"><%= event.title %></div><br>
                  <a class="card-text5"><%=  %></a><br>
                </div>
              </div>
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>
    <% end %>
<% end %>