<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <% @users.last(3).each_with_index do |user, i| %>
      <% if i == 0 %>
        <div class="carousel-item active">
          <%= link_to user_path(user) do %>
            <%= image_tag(user.image.variant(resize:"1200x600").processed, class: "d-block w-100 carousel-img") %>
          <% end %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= link_to user_path(user) do %>
            <%= image_tag(user.image.variant(resize:"1200x600").processed, class: "d-block w-100 carousel-img") %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div class="text-center mt-3">
  <h1 class="font2">アイメモへようこそ</h1>
</div>

<div class="text-center mb-3">
  <h2 class="font3">あなたの日常に一つの楽しみを</h2>
  <h2 class="font3">頑張るアイドルたちを応援しよう</h2>
  <div class="search-genre">
    <%= link_to 'EVENT', events_path, class: "btn-circle-stitch" %>
    <%= link_to 'FANCLUB', users_path, class: "btn-circle-stitch-center mx-5" %>
    <%= link_to 'PHOTO', posts_path, class: "btn-circle-stitch" %>
</div>

<div class="text-center mt-5">
  <h2 class="font3">ファンクラブを作る方はこちら</h2>
  <h2 class="font3">簡単無料でファンクラブを作ろう</h2>
  <%= link_to 'ファンクラブを作る', makefanclub_path, class: "btn-stitch" %>
</div>

<h2 class="font4 ">新規ファンクラブ</h2>
  <div class="new-fanclub-container">
    <div class="member1">
      <% @users.last(6).each do |user| %>
      <section class="eventcard">
          <%= link_to user_path(user), class: " text-dark" do %>
            <%= image_tag(user.image.variant(gravity: :center, resize:"540x337^", crop:"540x337+0+0").processed, class: "img-fluid") %>
            <div class="card-content3">
              <div class="card-name3"><%= user.name.truncate(13) %></div>
              <ul class="card-list3">
                <li class="eventcard-title"><%= user.area %></li>
                <li class="card-count3 text-right"><%= "♡#{user.followers.count}" %></li>
              </ul>
            </div>
          <% end %>
        </section>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <h2 class="font4 ">近くのアイドル</h2>
      <div class="near-fanclub-container">
        <div class="member1">
          <% if user_signed_in? || @user.area.nil %>
            <div class="near-fanclub-text">
              <p class="text-center">お住まいの地域を登録して</p>
              <p class="text-center">近くで活動しているアイドルを見つけよう</p>
              <%= link_to 'プロフィール編集ページへ', edit_user_path(current_user), class:"text-center"  %>
            </div>
          <% else %>
          <% @area_user.last(6).each do |user| %>
            <section class="eventcard">
              <%= link_to user_path(user), class: " text-dark" do %>
                <div class="eventcard-img"><%= image_tag(user.image.variant(gravity: :center, resize:"540x337^", crop:"540x337+0+0").processed, class: "img-fluid") %>
                  <div class="card-content3">
                    <div class="card-name3"><%= user.name.truncate(13) %></div>
                    <ul class="card-list3">
                      <li class="eventcard-title"><%= user.area %></li>
                      <li class="card-count3 text-right"><%= "♡#{user.followers.count}" %></li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </section>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
