<%= search_form_for @event_search, url: events_path do |f| %>
  <div class="user-search-form mt-4">
    <div><%= f.search_field :title_and_place_cont, class: 'form-control1 me-sm-2', id: "submit-form2"%></div>
    <button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">さらに絞る</button>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="user-search-container p-3">
      <div class="search-gender text-center mb-4">
        <div class="text-center mb-2 user-search-fonts">性別</div>
        <% User.genders.keys.each_with_index do |key, i| %>
          <%= f.check_box :user_gender_eq_any, {multiple: true}, i, nil %>
          <%= key %>
        <% end %>
      </div>

      <div class="search-area">
        <div class="text-center mb-2 user-search-fonts">活動地域</div>
        <% User.areas.keys.each_with_index do |key, i| %>
          <% if i != 0 %>
            <%= f.check_box :user_area_eq_any, {multiple: true}, i, nil %>
            <%= key %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div> 

  <div class="form-group text-center field mt-5">
    <%= f.submit "検索", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<%= month_calendar events: @order_event do |date, events| %>
  <%= date.day %>
  <% unless events.count == 0 %>
    <%= link_to "#{events.count}件のイベント", day_event_path(date, q: params[:q].to_unsafe_hash) %>
  <% end %>
<% end %>

<% @order_event.reverse_each do |event| %>
  <%= link_to event_path(event), class: "" do %>
    <div class="card4">
      <div class=""><%= image_tag(event.image.variant(gravity: :center, resize: '550x400' ,crop: "500x300+0+0").processed, class: " card-img5") %></div>
      <div>
        <div class="card-event-title mt-3"><%= event.title %></div><br>
        <a class="card-event-text"><%= event.start_time.strftime("%m月%d日 %H:%M") %></a><br>
      </div>
    </div>
  <% end %>
<% end %>        

<div class="text-center">
  <%= paginate @order_event %>
</div>