<% if @user.id == current_user.id %>
  <%= form_with(model:[@user, @event], method: :event) do |f| %>

    <div class="text-center mt-3">
      <%= f.file_field :image, class: "text-center", style: "" %>
    </div>

    <div class="time text-center mt-3">
      <%= f.label :start_time, "開始時間" %><br>
      <%= f.datetime_select :start_time, class:"form-select" %>
    </div>

    <div class="form-group text-center">
      <%= f.label :title, 'タイトル' %><br>
      <%= f.text_field :title %>
    </div>


    <div class="form-group text-center">
      <%= f.label :place, '会場' %><br>
      <%= f.text_field :place %>
    </div>

    <div class="form-group text-center">
      <%= f.label :body, '備考欄' %><br>
      <%= f.text_area :body, :size=>"60x10" %>
    </div>
   
    <div class="text-center">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
<% end %>
