  <% if @event.image.nil? %>
    <div class="text-center"><%= image_tag(@event.user.image) %></div>
  <% else %>
    <div class='text-center'><%= image_tag(@event.image.variant(gravity: :center, resize:"640x640^").processed, class: "img-fluid") %></div>
  <% end %>
  <div class="text-center event_title_show"><%= @event.title %></div>

  
  <ul class="ticketuser-list text-center">
    <% @event.ticketed_users.first(6).each do |user| %>
      <li><%= link_to image_tag(user.image.variant(combine_options:{gravity: :center, resize:"100x100^", crop:"100x100+0+0"}).processed, class: "ticket-image"), user_path(user) %></li>
    <% end %>

  <li id="tickets_buttons_<% @event.id %>" class="tickets">
    <%= render partial: "tickets/ticket", locals: {event: @event} %>
  </li>

  </ul>


 
  
  <hr>
  <a class="event">イベント会場</a>
  <a class="text-center event_area_show"><%= @event.place %></a>
  <hr>
  <a class="event_time">開始時間</a>
  <a class="text-center event_starttime"><%= @event.start_time.strftime("%m月%d日 %H:%M") %></a>
  <hr>
  <div class="container_remarks">
    <a class="event_remarks">備考</a>
    <a class="event_remarks_text"><%= safe_join(@event.body.split("\n"),tag(:br)) %></a>
  </div>
  <hr>
  <div class="text-center">

  
  <% if !current_user.id == @event.user.id %> 
    <div class="text-right">
    <%= link_to 'このメッセージを削除する', user_event_path(@user, @event), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
    <%= link_to 'このメッセージを編集する', edit_user_event_path(@user, @event) %>
    </div>
  <% end %>