  <div class='text-center'><%= image_tag(@event.image.variant(gravity: :center, resize:"640x640^").processed, class: "img-fluid") %></div>

  <% if current_user.id == @event.user_id %> 
    <%= link_to 'このメッセージを削除する', event_path(@event), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
    <%= link_to 'このメッセージを編集する', edit_event_path(@event) %>
  <% end %>


  <ul class="ticketuser-list text-center">
  <li class="text-center event_title_show"><%= @event.title %></li>

    <li id="tickets_buttons_<% @event.id %>" class="tickets">
      <%= render partial: "tickets/ticket", locals: {event: @event} %> 
    </li>
  </ul>
  <div class="ticket_index">
    <%= link_to "もっと見る", ticket_users_event_path unless current_user %>
  </div>
  
  <hr>
  <a class="event">イベント会場</a>
  <a class="text-center event_area_show"><%= @event.place %></a>
  <hr>
  <a class="event_time">開始時間</a>
  <a class="text-center event_starttime"><%= @event.start_time.strftime("%m月%d日 %H:%M") %></a>
  <hr>
  <div class="container_remarks">
    <a class="event_remarks">備考</a>
    <a class="event_remarks_text"><%= safe_join(@event.body.split("\n"),tag(:br)) %></a>
  </div>
  <hr>
  <div class="text-center">

