<%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
  <ul class="table-ul pl-0">
    <li>
      <%= link_to "プロフィール", @user, class: "" %>
    </li>
    <li class="current">
      <%= link_to "ブログ", user_posts_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "スケジュール", user_events_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "動画", user_videos_path(@user), class: "" %>
    </li> 
    <li>
      <%= link_to "Contact", "/", class: "" %>
    </li> 
  </ul>

  <% if user_signed_in? && @user.id == current_user.id %>
    <div class="text-center mt-3">
      <%= link_to new_post_path do %>
        <i class="fas fa-plus-circle fa-4x plus-icon"></i>
      <% end %>
    </div>
  <% end %>

  <div class="text-right">
    <%= search_form_for @search, url: user_posts_path do |f| %>
      <%= f.search_field :title_cont, class: 'form-control me-sm-2', id: "submit-form1"%>
      <%= f.button :type => "submit", id: 'submit-btn1' do %>
        <i class='fas fa-search'></i>
      <% end %>
    <% end %>
  </div>
  
<!- post一覧 ->
  

<div class="container gallery text-center" style="">
  <% @results.reverse_each do |post| %>
    <%= link_to image_tag(post.image.variant(combine_options:{gravity: :center, resize:"585x585^", crop:"585x585+0+0"}).processed, class: "post-image"), post_path(post) %>
  <% end %>
  
</div> 
<div class="text-center">
    <%= paginate @results %>
  </div>