<%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
  <ul class="table-ul pl-0">
    <li>
      <%= link_to "プロフィール", @user, class: "" %>
    </li>
    <li class="current">
      <%= link_to "ブログ", user_posts_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "スケジュール", user_events_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "Contact", "/", class: "" %>
    </li> 
    <li>
      <%= link_to "Contact", "/", class: "" %>
    </li> 
  </ul>

  <% if @user.id == current_user.id %>
    <div class="text-right"><%= link_to "メンバーを追加する", new_user_post_path(@user) %></div>
  <% end %>
  
<!- メンバー一覧 ->
  
  <% @user.posts.each do |post| %>
    <div class="card border-dark mb-3 mx-2 " style="">
     <%= link_to user_post_path(@user, post), class: " text-dark" do %>
       <div class="card-header"><%= post.title %></div>
       <div class="card-body">
       <h4 class="card-title text-center"><%= image_tag(post.image.variant(gravity: :center, resize:"640x640^").processed, class: "img-fluid") %></h4>
       </div>
     <% end %>
  </div>
  <% end %>