<%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"1200x600^", crop:"1200x600+0+0"}).processed %>
  <ul class="table-ul pl-0">
    <li>
      <%= link_to "プロフィール", @user, class: "" %>
    </li>
    <li class="current">
      <%= link_to "ブログ", user_posts_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "スケジュール", user_events_path(@user), class: "" %>
    </li>
    <li>
      <%= link_to "動画", user_videos_path(@user), class: "" %>
    </li> 
    <li>
      <%= link_to "Contact", "/", class: "" %>
    </li> 
  </ul>

  <% if @user.id == current_user.id %>
    <div class="text-right"><%= link_to "メンバーを追加する", new_user_post_path(@user) %></div>
  <% end %>
  
<!- メンバー一覧 ->
  
<div class="container" style="">
  <% @posts.reverse_each do |post| %>
    <% if post.event? %>
      <section class="card">
        <%= link_to user_post_path(@user, post), class: " text-dark" do %>
        <img class="card-img" src="" alt="">
        <div class="card-content">
          <h1 class="card-title"><%= post.title %></h1>
          <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
        </div>
        <% end %>
      </section>
    
    <% else %>
      <section class="card">
        <%= link_to user_post_path(@user, post), class: " text-dark" do %>
        <div class="card-img"><%= image_tag(post.image.variant(gravity: :center).processed, class: "img-fluid") %></div>
        <div class="card-content">
          <h1 class="card-title"><%= post.title %></h1>
          <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
        </div>
        <% end %>
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: "likes/like", locals: {user: @user, post: post} %>
        </div>
      </section>
      
    <% end %>
  <% end %>
</div>

