<h2 class="sgin_up text-center">画像投稿</h2>

<% if current_user.admin? %>
  <%= form_with(model:[@post], method: :post, local: true) do |f| %>
  
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="text-center mt-5">
      <%= f.file_field :image, class: "form-control image-input", type:"file", id:"formFile", style: "width: 500px;"  %>
    </div>

    <div class="form-group text-center field mt-5">
      <%= f.label :title, 'タイトル' %><br>
      <%= f.text_field :title, class: "form-control", id: "exampleInputEmail1", style: "width: 300px;" %>
    </div>

    <div class="form-group text-center field mt-5">
      <%= f.submit "保存", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
<% end %>


