<nav class="home-nav">
  <div class="home-nav-primary">
    <div class="navbar-brand"><%= link_to "アイメモ", root_path, class: "nav-title no-underline" %></div>
    <!-- メニュー項目 -->
    <ul class="home-nav-ul">
      <% if user_signed_in? %>
        <li ><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" %></li>
        <li id="sbtn7" class="nav-item">
          <%= link_to contact_mails_user_path(current_user.id) do %>
            <i class="far fa-envelope fa-3x"></i>
          <% end %>
        </li>
        <li id="sbtn3" class="nav-item">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user-circle fa-3x"></i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to 'アイメモとは？', new_user_registration_path, class: 'no-underline', style: "color: #000;" %></li>
        <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'no-underline' %></li>
        <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'no-underline' %></li>
      <% end %>
    </ul>
  </div>
</nav>
