<%= form_with(model:[@user, @member], method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
  <%= f.label :profile, '自己紹介' %>
    <%= f.text_area :profile %>
  </div>
  <div>
    <%= f.file_field :image %><br>
  </div>
  <%= f.submit %>
<% end %>